.DS_Store
DeclaredAgeRangeObjC/DeclaredAgeRangeObjC.xcodeproj/project.xcworkspace/xcuserdata/chris.xcuserdatad/UserInterfaceState.xcuserstate
DeclaredAgeRangeObjC/DeclaredAgeRangeObjC.xcodeproj/xcuserdata/chris.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
DeclaredAgeRangeObjCTestApp/DeclaredAgeRangeObjCTestApp.xcodeproj/xcuserdata/chris.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
DeclaredAgeRangeObjCTestApp/DeclaredAgeRangeObjCTestApp.xcodeproj/project.xcworkspace/xcuserdata/chris.xcuserdatad/UserInterfaceState.xcuserstate
